@font-face {
    font-family: Blueberry;
    src: url("../css/Blueberry_Regular_400_1_.ttf");
}

@font-face {
    font-family: Gloria;
    src: url("../css/GloriaHallelujah-Regular.ttf");
}

@font-face {
    font-family: Quicksand;
    src: url("../css/Quicksand-VariableFont_wght.ttf");
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1E1E2E;
    color: #e6ccff;
    font-family: "Quicksand";
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Blueberry';
    color: #bbfcc4;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    font-family: "Gloria";
    color: #bbfcc4;
}

a {
    color: #bcdff5;
    background-color: #28283d;
    border-radius: 3px;
}

a:hover {
    color: #77b3d9;
}

a:visited {
    color: #758deb;
}

.footer {
    background-color: #28283d;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.index {
    width: 300px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oi {
    width: 300px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 65%;
}

.lr {
    margin-right: 25%;
}