@font-face {
    font-family: Blueberry;
    src: url("../css/Blueberry_Regular_400_1_.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1E1E2E;
    color: #a643c4;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Blueberry';
}

a {
    color: #bcdff5;
    background-color: #28283d;
    border-radius: 3px;
}

a:hover {
    color: #77b3d9;
}

a:visited {
    color: #758deb;
}

.home {
    color: #bbfcc4 !important;
}

.home:hover {
    color: #92e89e !important;
}

.footer {
    background-color: #28283d;
    color: #FFFFFF;
}